.verticalNav {
  position: fixed;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
 
  z-index: 100;
}

.navMenu li {
  width: 25px; 
  height: 25px; 
  border-radius: 50%; 
  border: 2px solid #703b71; 
  background-color: transparent; 
  color: transparent; 
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease, transform 0.2s ease;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow:
    1px 1px 2px black,
    0px 1px 5px black,
    0px 1px 10px #572961;
    transform: scale(1);
}

.navMenu li.active {
  background-color: #703b71; 
  color: #fff; 
  box-shadow: 0 0 15px rgba(112, 59, 113, 0.7);
}

.navMenu li:hover {
  background-color: #703b71; 
  color: #fff; 
  width: 100px; 
  border-radius: 25px; 
  transform: translateX(8px) scale(1.1);
  /* background: linear-gradient(145deg, #8c4b8e, #703b71); */
  box-shadow: 4px 4px 12px rgba(87, 41, 97, 0.5);
}

.navMenu li .navText {
  position: absolute;
  opacity: 0; 
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.navMenu li:hover .navText {
  opacity: 1; 
}


.logoContainer {
  position: fixed;
  top: 20px;
  right:20px;
  z-index: 100;
  
}


@media only screen and (max-width: 767px) {
  .verticalNav {
    display: none;
  }

  /* .logoContainer {
    display: none;
  } */
}

.navbarToggler {
  position: absolute;
  top: 20px;
  padding: 0;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 1.6rem;
  background: #532d54;
  justify-content: center;
  align-items: center;
  display: none;
  color: #ebbc52;
  left: 100%;
}

.navSidebar {
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(-100%)  ;
  height: 100vh;
  width: 300px;
  background: #532d54;
  border-right: 2px solid #ebbc52;
  z-index: 1000;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  display: none;
}






@media only screen and (max-width: 767px){
  .navbarToggler{
      display:flex;
  }
  .navSidebar {
    width: 250px;
    display: block;
    transform: translateX(-100%)  ;
}
} 


.showNav{
  transform:translateX(0) !important;
}

.navInner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
  
}

.navMenuMobile {
  width: 100%;
  padding: 15px 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navMenuMobile li {
  list-style: none;
  text-align: center;
  display: block;
}

.navMenuMobile li a {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  padding: 5px 0;
  color: #ebbc52;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.navInner{
  color: #ebbc52;
}

.navMenuMobile li:not(:last-child) {
  margin-bottom: 1px;
}

.navMenuMobile li a.active {
  color: #fff;
}


.navCopyright {
  display: block;
  width: 100%;
  color: #ebbc52;
  text-align: center;
  margin-bottom: 0;
  font-size: 1rem;
  padding: 16px 0;
  border-top: 1px solid #ebbc52;
  font-weight: 300;
 
}

.footer {
  height: 200px;
  background-color: #6A3276;
  width: 100%;
  margin-top: 50px;
}