nav{
  display:flex ;
  align-items: center;
  justify-content:space-between;
  border: 1px solid red;
  position: fixed;
  height: 100px;
  top: 0;
  width: 100%;
}

.socialContainer{
  width: 100%;
  height: 70px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  gap: 20px;
}

.OpLogo{
  height: 70px;
  border: 1px solid red;
}