@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Limelight&family=Luckiest+Guy&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Limelight&family=Luckiest+Guy&family=Poetsen+One&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

html, body {
  margin: 0;
  /* background-color: #1B1C1E; */
  /* background-image: url('./Images/Optimiserable_Background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
  padding: 0;

}

button{
  border:none;
}
.secondary-color{
color: #E4CC5D;
}

.App{
  text-align: center;
  /* background: rgb(67,65,65);
  background: linear-gradient(180deg, rgba(67,65,65,1) 0%, rgba(35,35,46,1) 35%, rgba(17,18,19,1) 100%); */
  max-width: 100vw;
  min-height: 100vh;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(31, 31, 31, 0.3);
  
}



h1{
  font-family: "Luckiest Guy";
  color: #ffd573;
  font-size: 42px;
  text-shadow:
  3px 3px 2px #000,
  -3px 3px 2px #000,
  -3px -3px 0 #000,
  3px -3px 0 #000,
    1px 1px 2px black,
    0px 5px 1px #e3af34,
    0px 10px 1px #6A3276;
}

/* text-shadow:
  3px 3px 2px #000,
  -3px 3px 2px #000,
  -3px -3px 0 #000,
  3px -3px 0 #000,
    1px 1px 2px black,
    0px 5px 1px #e3af34,
    0px 10px 1px #6A3276; */
  

h2{
  color: #ffd573;
  font-family: "Poetsen One", sans-serif;
  text-shadow:
    1px 1px 2px black,
    0px 2px 1px #e3af34,
    0px 4px 1px #6A3276;
}

p {
  font-size: 8px;
  font-family: "Poetsen One", sans-serif;
}

.inputContainer{
  display: flex;
  justify-items: center;
  justify-content: center;
  align-content: center;
  /* border: red 1px solid; */
}

.flex1 {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #000;  */
  width: 100%;
}

.flex2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #000;  */
  width: 100%;
}


form .formField{
  width: 100%;
  height: 100%;
}

form input {
  border: 3px solid #6A3276;
  border-radius: 5px;
  height: 100%;
  line-height: normal;
  color: #6A3276;
  display: block;
  width: 100%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
  background: white
}
form textarea{
  border: 3px solid #6A3276;
  border-radius: 5px;
  display: block;
  padding: 5px;
  background: white
}
form input:focus {
  border: 3px solid #E4CC5D;
}

form label{
    color: #6A3276;
    font-family: "Poetsen One", sans-serif;
}

.linkContainer li{
  font-family: "Luckiest Guy";
  color: #6A3276;
}

.active{
  color: #E4CC5D;
}


